section.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 17.375rem;
  margin-bottom: 60rem;
  & header {
    position: relative;

    & .title {
      position: relative;
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
      gap: 1rem;
      & p {
        margin-bottom: 4rem;
        font: var(--body-md);
      }

      & img {
        position: relative;
        width: 2rem;
      }
      & .blur-1 {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 10%;
        right: 92.9%;
        border-radius: 50%;
        background-image: url(../assets/icons/stars-pink.svg);
        filter: blur(20px);
      }
      & .blur-2 {
        position: absolute;
        width: 2rem;
        height: 2rem;
        top: 10%;
        left: 92.9%;
        border-radius: 50%;
        background-image: url(../assets/icons/stars-pink.svg);
        filter: blur(20px);
      }
    }
  }

  & .blur {
    position: absolute;
    content: "";
    width: 58rem;
    height: 58rem;
    border-radius: 50%;
    top: 230%;
    background-color: var(--pink-low);
    filter: blur(300px);
    z-index: -1;
  }

  & .content {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 50rem;
    & span {
      position: absolute;
      z-index: -1;
      &.desc-1 {
        position: absolute;
        transition: .4s .6s ease;
        width: 10rem;
        /* transform: translate(-300%, -1500%); */
      }
      &.desc-2 {
        position: absolute;
        transition: .4s .4s ease;
        width: 10rem;
        /* transform: translate(-270%, 130%); */
      }
      &.desc-3 {
        position: absolute;
        transition: .4s .4s ease;
        width: 12rem;
        /* transform: translate(85%, 1700%); */
      }
    }
    & img {
      position: absolute;
    }
    & img[src*="book.png"] {
      transition: 0.4s ease;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1);
      width: 29rem;
    }
    & img[src*="purple"] {
      transition: 0.4s 0.3s ease;
      transform: translate(0%, -0%) rotate(0) scale(0);
      width: 10.75rem;
    }
    & img[src*="yellow"] {
      transition: 0.4s 0.2s ease;
      transform: translate(0%, -0%) rotate(0) scale(0);
      width: 10.75rem;
    }
    & img[src*="pin"] {
      transition: transform 0.4s 0.5s ease;
      transform: translate(0%, -0%) rotate(0) scale(0);
      width: 13.875rem;
    }
    & img[src*="arrow-1"] {
      transition: transform 0.4s 0.6s ease;
      transform: translate(0%, -0%) rotate(0) scale(0);
    }
    & img[src*="arrow-2"] {
      transition: transform 0.4s 0.6s ease;
      transform: translate(0%, -0%) rotate(0) scale(0);
    }
    & img[src*="arrow-3"] {
      transition: transform 0.4s 0.2s ease-in-out;
      transform: translate(0%, -0%) rotate(0) scale(0);
    }
    &.content:hover {
      & img[src*="book.png"] {
        transform: translate(-50%, -50%) scale(0.99);
      }
      & img[src*="purple"] {
        transform: translate(160%, -5%) rotate(25deg) scale(1);
        width: 10.75rem;
      }
      & img[src*="yellow"] {
        transform: translate(100%, -25%) rotate(11deg) scale(1);
        width: 10.75rem;
      }
      & img[src*="pin"] {
        transform: translate(-160%, 100%) rotate(-5deg) scale(1);
        width: 13.875rem;
      }
      & img[src*="arrow-1"] {
        transform: translate(-210%, -900%) rotate(-5deg) scale(1);
      }
      & img[src*="arrow-2"] {
        transform: translate(-370%, 90%) rotate(-5deg) scale(1);
      }
      & img[src*="arrow-3"] {
        transform: translate(150%, 180%) rotate(-5deg) scale(1);
      }
      & .desc-1 {
        transform: translate(-300%, -1500%);
      }
      & .desc-2 {
        transform: translate(-270%, 130%);
      }
      & .desc-3 {
        transform: translate(85%, 1700%);
      }
    }
  }
}