section.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  header .button {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 0;
      height: 0;
      background-color: var(--pink-base);
      border-radius: 50%;
      transform: translate(-50%, -50%);
      transition: width 0.5s ease, height 0.5s ease;
      z-index: 0;
    }

    &:hover::before {
      width: 7rem;
      height: 7rem;
    }

    & span {
      position: relative;
      z-index: 1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 59rem;
    background-image: url(../assets/images/hero-background.png);
    background-position: center;
    background-size: cover;
    z-index: -1;
    animation: appearimg 2s 0.5s ease-out forwards;
    opacity: 0%;
  }
  & .elipse1 {
    content: "";
    display: block;
    position: absolute;
    width: 30rem;
    height: 30rem;
    background-color: var(--pink-dark);
    border-radius: 50%;
    margin-left: 1171px;
    margin-top: 722px;
    filter: blur(668px);
  }
  & .elipse2 {
    content: "";
    display: block;
    position: absolute;
    width: 30rem;
    height: 30rem;
    background-color: var(--pink-dark);
    border-radius: 50%;
    margin-top: 400px;
    margin-right: 100px;
    filter: blur(500px);
  }
  & .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: auto;
    max-width: 41rem;
    width: 100%;
    margin-top: 8rem;
    gap: 2rem;
    animation: appearimg 2s 0.7s ease-out forwards;
    opacity: 0%;
    & p {
      animation: appearimg 2s 0.8s ease-out forwards;
      opacity: 0%;
    }
  }

  .subtitle {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75rem;
    width: 100%;
    margin-inline: auto;
    margin-top: 50rem;
    transition: opacity 0.4s ease, scale 0.4s ease, color 0.4s ease;

    p {
      text-align: center;
      font: var(--subtitle);
      color: var(--text-body);
    }
    & img {
      width: 5rem;
      scale: 0;
    }

    .first,
    .second,
    .third {
      opacity: 0.4;
      & span {
        font-weight: bold;
        color: var(--text-base);
      }
    }

    & img:nth-child(1) {
      bottom: 100%;
      transform: rotate(15deg);
    }
    & img:nth-child(3) {
      margin-right: auto;
      transform: rotate(95deg);
    }
    & img:nth-child(4) {
      position: absolute;
      margin-left: auto;
      top: 70%;
      left: 90%;
      transform: rotate(-20deg);
    }

    &:hover {
      img:nth-child(1) {
        animation: show 0.4s ease forwards;
      }
      img:nth-child(3) {
        animation: show 0.4s 0.7s ease forwards;
      }
      img:nth-child(4) {
        animation: show 0.4s 1.5s ease forwards;
      }
      span.first {
        & span {
          animation: color-grade 0.4s ease forwards;
        }
        animation: opacity-text 0.4s ease forwards;
      }
      span.second {
        & span {
          animation: color-grade 0.4s 0.7s ease forwards;
        }
        animation: opacity-text 0.4s 0.7s ease forwards;
      }
      span.third {
        & span {
          animation: color-grade 0.4s 1.5s ease forwards;
        }
        animation: opacity-text 0.4s 1.5s ease forwards;
      }
    }
  }
}

@keyframes appearimg {
  to {
    opacity: 100%;
  }
}

@keyframes show {
  to {
    scale: 1;
  }
}

@keyframes opacity-text {
  to {
    opacity: 1;
  }
}

@keyframes color-grade {
  to {
    color: var(--blue-light);
  }
}
