* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {

    /* cores */
    /* Principais */
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    /* Base */
    --gray-100: #E2E4E9;
    --gray-200: #C0C4CE;
    --gray-300: #878EA1;
    --gray-400: #292C34;
    --gray-500: #16181D;
    --gray-600: #0D0E11;


    /* Font Families */
    --ff-title: 'Asap', sans-serif;
    --ff-subtitle: 'Inconsolata', monospace;
    --ff-text: 'Maven Pro', sans-serif;

    /* Font Weights */
    --fw-bold: 700;
    --fw-regular: 400;

    /* Font Sizes */
    --fs-title-lg: 56px;
    --fs-title-md: 24px;
    --fs-title-sm: 16px;
    --fs-subtitle: 20px;

    --fs-text-md: 16px;
    --fs-text-sm: 14px;

    /* Line Heights */
    --lh-120: 120%;
    --lh-140: 140%;
}

body {
    background-color: var(--gray-500);
}